body {
    text-align: center;
    font-family: 'KoHo', sans-serif;
    overflow-x: hidden; 
    width: 100%;
}

.nav-wrapper img{
    height: 60px;
    background-color: white;
    border-radius: 100%;
}

#nav-mobile{
    height: 60px;
}

.cabeçalho {
    height: auto;
    overflow: auto;
    overflow-x: hidden;
}

.cabeçalho * {
    margin: 10px;
}

.cabeçalho h1, h2 {
    color: white;
    margin: 0%;
    padding: 30px;
}

.cabeçalho div {
    display: flex;
    align-items: center;
    justify-content: center
}

.cabeçalho div img {
    width: 6%;
}



.texto {
    right: 6%;
    position: absolute;
    top: 10%;
}

h5 {
    overflow: hidden;
    width: 800px;
    white-space: pre-line;
}

.bloco {
    position: relative;
    overflow: auto;
}

.imagem {
    width: 50%;
}

.texto {
    right: 0;
    width: 50%;
    position: absolute;
    top: 10%;
}
.texto h2 {
    width: auto;
    font-size: 3vw;
    padding: 5%;
}
.texto h5 {
    width: auto;
    font-size: 1.3vw;
    margin: 0 7%;
}

.imagem2 {
    width: 90%;
    margin: 5% 0% 5% 10%;
}

.projeto-linguagem {
    float: left;
    width: 5%;
    margin-top: 2.5%;
    position: absolute;
}
.projeto-linguagem img {
    width: 70%;
    margin-bottom: 10%;
}